.DS_Store
node_modules
/build
/.svelte-kit
/package
.env
.env.*
!.env.example
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
# Rust / Tauri
src-tauri/target/
src-tauri/binaries/

# Producción
dist/

# Backup
_backup/
*.rar
*.zip

# Ignore raw data for dev use only
src/lib/data/minecraft/

# Registro de desarrollo local
dev_log.md
DB_EXPERIMENTAL.md